<div class="form-group">
    {{ dump(form.dateNaissance) }}
    {{ form_label(form, form.parent.vars.label) }}
    <div>
        <div class="col-sm-12 row">
            <div class="form-group" col-sm-6>
                {{ form_label(form.nom, form.nom.vars.label,{'label_attr':{'class': 'control-label col-sm-2'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control' }}) }}
                </div>
                {{ form_errors(form.nom) }}
            </div>
            <div class="form-group col-sm-6">
                {{ form_label(form.prenom, form.prenom.vars.label,{'label_attr':{'class': 'control-label col-sm-2'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control' }}) }}
                </div>
                {{ form_errors(form.prenom) }}
            </div>
        </div>
        <div class="col-sm-12 row">
            <div class="form-group">
                {{ form_label(form.reduction, form.reduction.vars.label,{'label_attr':{'class': 'control-label col-sm-2'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.reduction, {'attr': {'class': 'form-control' }}) }}
                </div>
                {{ form_errors(form.reduction) }}
            </div>
            <div class="form-group">
                {{ form_label(form.pays, form.pays.vars.label,{'label_attr':{'class': 'control-label col-sm-2'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.pays, {'attr': {'class': 'form-control' }}) }}
                </div>
                {{ form_errors(form.pays) }}
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                {{ form_label(form.dateNaissance) }}
                <div class="col-sm-6">
                    {{ form_widget(form.dateNaissance.day) }}
                    {{ form_widget(form.dateNaissance.month) }}
                    {{ form_widget(form.dateNaissance.year) }}
                </div>
            </div>
        </div>
    </div>
</div>