<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Billets musée du Louvre</title>
	<style type="text/css">
		#logo {
			float: right;
		}
		.qrcode{
			float: left;
		}
	</style>
</head>
<body>
	<div class="col-sm-9">
		<img src="{{ app.request.getSchemeAndHttpHost() ~ asset('/uploads/images/logoLouvre.jpg') }}" id="logo">
		<h2>Billets d'entrée du musée du Louvre</h2>
		<p>
			Réservation numéro : {{ reservation.codeReservation }}<br>
			Réservation pour le : {{ reservation.dateReservation|date('d/m/Y') }}<br>
			Adresse mail {{ reservation.email }}<br/>
			Demie journée:{% if reservation == true %} Oui<br>
			<small>Vous ne pourrez rentrez qu'à partir de 14h.</small>
		{% else %}Non
			{% endif %}<br>
			Nombre de billets : {{ reservation.billets|length }}</li>
			Prix total : {{ reservation.prix }} €</li>
		</p>

	</div>
	{% for billet in reservation.billets %}
		<div>
			{% if loop.length > 1 %}
				<h2>Billet n° {{ loop.index }}</h2>
			{% else %}
				<h2>Billet</h2>
			{% endif %}
			<div>
				<img class="col-sm-3 qrcode" src="{{ qrcode_data_uri(url('app_billets',{'codeReservation': reservation.codeReservation})) }}" >
				<p class="col-sm-9">
					Nom : {{ billet.nom }}<br/>
					Prénom : {{ billet.prenom }}<br/>
					Age : {{ billet.age }}<br/>
					Réduction : {% if billet.reduction == true  %}
					Oui<br/>
					<small>Un justificatif de réduction vous sera demandé à l'entrée.</small>
				{% else %}Non
					{% endif %}<br>
					Prix : {{ billet.prix }} €
				</p>
			</div>

	</div>
	{% endfor %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
