{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Confirmation {% endblock %}

{% block stylesheets %}
	{{ parent() }}
	.payment{
		max-width: 50px;
	}
{% endblock %}
{% block body %}
	<div class="col-sm-8 jumbotron">
		<h2 class="text-center">Récapitulatif de commande</h2>
		<ul class="list-unstyled">
			<li>Réservation du {{ reservation.dateReservation|date('d/m/Y') }}</li>
			<li>
				<ul class="list-unstyled">
					{% for billet in reservation.billets %}
											<li> {% if loop.length =1 %}Votre billet {% else %}
											    Billet n° {{loop.index}}{% endif %}
												<ul>
													<li>Billet de : {{ billet.nom }} {{ billet.prenom }}</li>
													<li>né le : {{ billet.dateNaissance|date('d/m/Y') }}</li>
													<li>Reduction : {{ billet.reduction }}</li>
												</ul>
											</li>
					{% endfor %}
				</ul>
			</li>
			<li class="text-right">Prix Total : {{ reservation.prix }}</li>
		</ul>
	</div>
	<div class="col-sm-3 col-sm-push-1 jumbotron">
		<h2>Payement</h2>
		<a href="{{ path('app_payment', {'id': reservation.id, 'gateway': 'paypal'})}}" class="row"><img class="col-xs-6 col-sm-12" src="{{ asset('/uploads/images/paypal.png')}}" alt="paypal" /></a><br/>
		<a href="{{ path('app_payment', {'id': reservation.id, 'gateway': 'stripe'})}}" class="row"><img src="{{ asset('/uploads/images/stripe.png') }}" alt="stripe" class="col-sm-12 col-xs-6"/></a>
	</div>
{% endblock %}
