{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Confirmation {% endblock %}

{% block body %}
	<div class="col-sm-8 jumbotron">
		<h2 class="text-center">Récapitulatif de commande</h2>
		<ul class="list-unstyled">
			<li>Réservation du {{ reservation.dateReservation|date('d/m/Y') }}</li>
			<li>
				<ul class="list-unstyled">
					{% for billet in reservation.billets %}
						<li>Billet de : {{ billet.nom }} {{ billet.prenom }}</li>
						<li>né le : {{ billet.dateNaissance|date('d/m/Y') }}</li>
						<li>Prix du billet :{% if reservation.prix == 35 %}{% set prix = 35/4 %}{{ prix }}{% elseif reservation.prix == 17.5%} {% set prix = 17.5/4 %} {{ prix}} {% endif %} {{ billet.prix }}€</li>
					{% endfor %}
				</ul>
			</li>
			<li class="text-right">Prix Total : {{ reservation.prix }}</li>
		</ul>
	</div>
	<div class="col-sm-3 col-sm-push-1 jumbotron">
		<h2>Payement</h2>
		<a href="{{ path('app_payment', {'id': reservation.id, 'gateway': 'paypal'})}}">Paypal</a><br/>
		<a href="{{ path('app_payment', {'id': reservation.id, 'gateway': 'stripe'})}}">Stripe</a>
	</div>
{% endblock %}