{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="col-sm-8 jumbotron">
		<h2 class="text-center">Bienvenue sur le site de réservation du musée du Louvre</h2>
		<p>Sur le site vous pourrez <a href="{{ path('app_reservation') }}">réserver</a> vos places<br/>
			Mais aussi <a href="{{ path('app_tarifs') }}">Consulter</a> les tarifs.</p>
		<!-- Création d'un slider de 4 images -->
		<div id="carousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner" role="listebox">
				<div class="item active">
					<img class="center-block" src="{{ asset('uploads/images/exterieur.jpg')}}" alt="Exterieur du musée">
				</div>
				<div class="item">
					<img class="center-block" src="{{ asset('uploads/images/interieur.jpg')}}" alt="Interieur du musée">
				</div>
				<div class="item">
					<img class="center-block" src="{{ asset('uploads/images/monaLisa.jpg')}}" alt="La Joconde">
				</div>
				<div class="item">
					<img class="center-block" src="{{ asset('uploads/images/venusMilo.jpg')}}" alt="La Vénus de Milo">
				</div>
			</div>
			<a class="left carousel-control" href="#carousel" role="button" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
			<a class="right carousel-control" href="#carousel" role="button" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
		</div>
	</div>
	<div class="col-sm-3 col-sm-push-1 jumbotron">
		<ul class="list-unstyled text-center">
			<li>Muséum du Louvre</li>
			<li>75058 Paris</li>
			<li>France</li>
			<li><span class="glyphicon glyphicon-phone"></span> : <a href="tel:0123456789">01 23 45 67 89</a></li>
			<li><span class="glyphicon glyphicon-envelope"></span> : <a href="mailto:contact@leLouvre.fr">contact@leLouvre.fr</a></li>
		</ul>
	</div>
{% endblock %}
