{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Récapitulatif {% endblock %}

{% block body %}
<div id="fb-root"></div>

			<div class="col-sm-10 jumbotron">
				<h2 class="text-center">Récpitulatif de réservation : </h2>
				<p>
					Commande numéro : {{ reservation.id }} <br/>
					Date de réservation : le {{ reservation.dateReservation|date('d/m/y') }}<br/>
					Prix total : {{ reservation.prix }} €<br/>
					Nombre de Billet(s) : {{ reservation.billets|length }} <br/>
					Status: payer
				</p>
				<h3>Liste des visiteurs</h3>
				{% for billet in reservation.billets %}
					<ul class="list-unstyled">
						<li>Nom : {{ billet.nom }}</li>
						<li>Prénom: {{ billet.prenom }}</li>
						<li>Date de naissance : {{ billet.dateNaissance|date('d-m-Y') }}</li>
					</ul>
				{% else %}

				{% endfor %}
			</div>
{% endblock %}

