{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Récapitulatif {% endblock %}

{% block body %}
<div id="fb-root"></div>

			<div class="col-sm-8 jumbotron">
				<h2 class="text-center">Récpitulatif de réservation : </h2>
				<p>
					Commande numéro : {{ reservation.id }} <br/>
					Date de réservation : le {{ reservation.dateReservation|date('d/m/y') }}<br/>
					Prix total : {{ reservation.prix }} €<br/>
					Nombre de Billet(s) : {{ reservation.billets|length }} <br/>
					Status: payer
				</p>
				<h3>Liste des visiteurs</h3>
				{% for billet in reservation.billets %}
					<ul class="list-unstyled">
						<li>Nom : {{ billet.nom }}</li>
						<li>Prénom: {{ billet.prenom }}</li>
						<li>Date de naissance : {{ billet.dateNaissance|date('d-m-Y') }}</li>
					</ul>
				{% else %}

				{% endfor %}
			</div>
			<div class="col-sm-3 col-sm-push-1 jumbotron">
				<div class="fb-share-button" data-href="http://projetl.site-projet.fr" data-layout="button" data-size="small" data-mobile-iframe="false">
					<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojetl.site-projet.fr%2F&amp;src=sdkpreparse">Partager</a>
				</div><br/>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://projetl.site-projet.fr" data-text="Faites comme moi et reserver vos places pour allez visiter le musée du louvre">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/public/js/facebook.js') }}"></script>
	<script type="text/javascript" src="{{ asset('/public/js/twitter.js') }}"></script>
{% endblock %}
