{% extends 'AppBundle::layout.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}


{% block title %}
	Reservation - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="well">

		{{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
		{{ form_errors(form) }}

		<div class="form-group">
			{{ form_label(form.dateReservation,'Date de reservation : ',{'label_attr':{'class':'col-xs-5 col-sm-3 control-label'}}) }}
			{{ form_errors(form.dateReservation) }}
			<div class="col-xs-6 col-sm-5">
				<div id="datepicker1" class="input-group date">
					{{ form_widget(form.dateReservation,{'attr':{'class':'form-control input-sm date'}}) }}
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>

		{{ form_row(form.demiJournee)}}

		<div class="form-group">
			{{ form_label(form.email,'Votre adresse mail : ',{'label_attr':{'class':'col-xs-5 col-sm-3 control-label'}}) }}
			{{ form_errors(form.email) }}
			<div class="col-xs-6 col-sm-5">
				{{ form_widget(form.email,{'attr':{'class':'form-control input-sm email'}}) }}
			</div>
		</div>
		<div id="reservation_billets" data-prototype="{{ form_widget(form.billets.vars.prototype)|e}}">
			{% for billet in form.billets %}
			    {{ form_widget(billet)}}
			{% endfor %}
		</div>
		<div class="text-center">
			<a href="#" id="ajout_billet" class="btn btn-default btn-xs">Rajouter un billet</a><br/>
		</div>
		<div class="form-group text-center">
			{{ form_widget(form.save,{'attr':{'class':'btn btn-default btn-xs'}})}}
		</div>

		{{ form_rest(form)}}
		{{ form_end(form)}}

				<small>Toute réservation pour le jour même effectué après 14h seront automatiuement passé en demie hournée.</small>
	</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript">
		$('#datepicker1').datepicker({
		  todayBtn:'true',
		  format:'dd-mm-yyyy',
		  autoclose:'true',
		  pickerPosition: 'bottom-left',
		  minView: 'month',
		  language: 'fr',
		  daysOfWeekDisabled:'0,2',
		  startDate: '-0m',
		  datesDisabled: [ '01-11-2016', '25-12-2016','01/05/2017', '01-11-2017', '25-12-2017',]
		});
	</script>
	<script src="{{ asset('/public/js/ajoutBillet.js')}}"></script>
{% endblock %}
