{% extends 'AppBundle::layout.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}


{% block title %}
	Reservation - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="well">

		{{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
		{{ form_errors(form) }}

		<div class="form-group">
			{{ form_label(form.dateReservation,'Date de reservation : ',{'label_attr':{'class':'col-xs-5 col-sm-3 control-label'}}) }}
			{{ form_errors(form.dateReservation) }}
			<div class="col-xs-6 col-sm-5">
				<div id="datepicker1" class="input-group date">
					{{ form_widget(form.dateReservation,{'attr':{'class':'form-control input-sm date'}}) }}
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>

		{{ form_row(form.demiJournee)}}

		<div class="form-group">
			{{ form_label(form.email,'Votre adresse mail : ',{'label_attr':{'class':'col-xs-5 col-sm-3 control-label'}}) }}
			{{ form_errors(form.email) }}
			<div class="col-xs-6 col-sm-5">
				{{ form_widget(form.email,{'attr':{'class':'form-control input-sm email'}}) }}
			</div>
		</div>

		{{form_row(form.billets)}}
		<div class="form-group">
			<a href="#" id="ajout_billet" class=" col-sm-2 col-sm-push-3 btn btn-default btn-xs">Rajouter un billet</a><br/>
		</div>
		<div class="form-group">
			{{ form_widget(form.save,{'attr':{'class':'col-sm-2 col-sm-push-3 btn btn-default btn-xs'}})}}
		</div>

		{{ form_rest(form)}}
		{{ form_end(form)}}

	</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript">
		$('#datepicker1').datepicker({
		  todayBtn:'true',
		  format:'dd-mm-yyyy',
		  autoclose:'true',
		  pickerPosition: 'bottom-left',
		  minView: 'month',
		  language: 'fr',
		  daysOfWeekDisabled:'0,2',
		  startDate: '-0m',
		  datesDisabled: [{% for date in listDate %} '{{ date.dateReservation|date('d-m-Y') }}'{% if loop.last%} {% else %},{% endif %}
		  {% endfor %}]
		});
	</script>
	<script src="{{ asset('/public/js/ajoutBillet.js')}}"></script>
{% endblock %}
