{% extends '::layout.html.twig' %}

{% block title %}Récapitulatif {% endblock %}

{% block body %}

			<div class="well">
				<h2 class="text-center">Confirmation de réservation : </h2>
				<p>
					Commande numéro : {{ reservation.codeReservation }} <br/>
					Date de réservation : le {{ reservation.dateReservation|date('d/m/y') }}<br/>
					Nombre de Billet(s) : {{ reservation.billets|length }} <br/>
					Demi Journée :{% if reservation.demiJournee == true %}
						Oui {% else %} Non
									{% endif %} <br><br>
					Un email contenant le(s) billet(s) au format PDF a été envoyer à l'adressse mail : <br>
					{{ reservation.email }}<br>
					<small>La configuration de l'envoie d'email étant en mode test, les emails ne sont envoyer que pour une seule adresse.</small>
				</p>
				<a href="{{ path('app_download_pdf', {'codeReservation': reservation.codeReservation}) }}">Télécharger les billets</a>
				<h3>Liste des billets</h3>
				{% for billet in reservation.billets %}
					<ul class="list-unstyled">
						<li>Nom : {{ billet.nom }}</li>
						<li>Prénom: {{ billet.prenom }}</li>
						<li>Date de naissance : {{ billet.dateNaissance|date('d-m-Y') }}</li>
						<li>Tarif réduit :{% if billet.reduit == true %} Oui<br>
								<small>Un justificatif seras demandé à l'entrée</small>
							{% else %}
							 Non
							{% endif %}
						</li>
					</ul>
				{% else %}

				{% endfor %}
			</div>
{% endblock %}

